:root {
    --color-primary: #131921;
    --color-secondary: #232f3e;
    --color-btn: #febd69;
    --color-text-white: #ffffff;
    --color-btn-activated: #eaeded;
    --font: "Amazon Ember", Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html,
body {
    width: 100%;

}

/*  Header  */
.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: var(--color-primary);
}


.header__logo img {
    width: 200px;
    height: auto;
}

.header__search {
    display: flex;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 1rem;
}

.header__search input {
    flex-grow: 1;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 0.5rem;
}

.mobile__container {
    display: none;
}

/*   Botoes */
.search-btn,
.login-btn,
.cart-btn,
.card-btn {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.search-btn:hover,
.login-btn:hover,
.cart-btn:hover,
.card-btn:hover {
    transform: scale(1.03);
}

.login-btn:hover {
    text-decoration: underline;
}

.search-btn:active,
.login-btn:active,
.cart-btn:active,
.card-btn:active {
    transform: scale(0.98);
}

.login-btn:active,
.card-btn:active {
    background-color: var(--color-btn-activated);
}

.search-btn {
    background-color: var(--color-btn);
    border-radius: 0 4px 4px 0;
}

.login-btn {
    color: var(--color-text-white);
    background-color: var(--color-btn);
    border-radius: 4px;
}

.cart-btn {
    background-color: var(--color-primary);
    border-radius: 4px;
}

.card-btn {
    background-color: var(--color-btn);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}


/*  Main */
.content__grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;


}

.main__grid {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

/*Cards*/
.product__card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.product__image {
    padding-top: 8rem;
    background-color: red;
}

.product__name {
    padding: 0.1rem;
    font-weight: 600;
}

.product__price {
    display: inline;
    padding: 0.1rem;
    font-weight: 600;
}

.product__detail {
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-btn-activated);
}


/*  Aside */

.aside__container {
    height: 100%;
}

.aside__list {
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    font-family: Arial, sans-serif;
    height: 100%;
}

.aside__list ul {
    padding-top: 0.5rem;
    list-style: none;
}

.aside__list li {
    padding: 0.5rem;
}

.aside__list li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer__container {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    padding: 0.3rem;
    width: 100%;
}

.footer__text {

    text-align: center;
    font-size: 14px;
}



@media(max-width: 1024px) {
    .main__grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        gap: 2rem;
    }
}

@media(max-width:600px) {
    .mobile__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        overflow-y: scroll;

    }

    .mobile__container ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        color: var(--color-text-white);
        font-family: Arial, sans-serif;
    }

    .mobile__container li {
        padding: 0.5rem;
        margin: 1.5rem;
        min-width: 1rem;
        
    }

    .mobile__container li:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .aside__container {
        display: none;
    }

    .content__grid {
        display: block;
    }

    .main__grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1.5rem;
    }
    .product__card{
        min-width: 15rem;
        margin: auto;
    }
}