:root {
    --color-primary: #131921;
    --color-secondary: #232f3e;
    --color-btn: #febd69;
    --color-text-white: #ffffff;
    --color-btn-activated: #eaeded;
    --font: "Amazon Ember", Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html,
body { 
    width: 100%;
   
}

/*             Header             */

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--color-primary);
    overflow: hidden;
}

.header__logo img {
    width: 200px;
    height: auto;
}

.header__search {
    display: flex;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 1rem;
}

.header__search input {
    flex-grow: 1;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 0.5rem;
}

/*       Botoes        */

.search-btn,
.login-btn,
.shopping-cart-btn,
.product-buy-btn {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.search-btn {
    background-color: var(--color-btn);
    border-radius: 0 4px 4px 0;
}

.login-btn {
    background-color: var(--color-btn);
    color: var(--color-text-white);
    border-radius: 4px;
}

.shopping-cart-btn {
    background-color: var(--color-primary);
    border-radius: 4px;
}

.product-buy-btn {
    background-color: var(--color-btn);
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.search-btn:hover,
.login-btn:hover,
.shopping-cart-btn:hover,
.product-buy-btn:hover {
    transform: scale(1.03);
}

.login-btn:hover {
    text-decoration: underline;
}

.search-btn:active,
.login-btn:active,
.shopping-cart-btn:active,
.product-buy-btn:active {
    transform: scale(0.98);
}

.login-btn:active,
.product-buy-btn:active {
    background-color: var(--color-btn-activated);
}

/* Layout principal*/

.page__grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 5rem;
}

/*              Cards        */

.product__card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.product__image {
    padding-top: 8rem;
    background-color: red;
}

.product__name,
.product__price {
    padding: 0.1rem;
    font-weight: 600;
}

.product__detail {
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-btn-activated);
}

/*             Barra lateral       */

.aside__container {
    height: 100%;
}

.aside__menu {
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    height: 100%;
    font-family: Arial, sans-serif;
}

.aside__menu ul {
    list-style: none;
    padding-top: 0.5rem;
}

.aside__menu li {
    padding: 0.5rem;
    cursor: pointer;
}

.aside__menu li:hover {
    text-decoration: underline;
}

/*   Footer         */

.footer__container {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    padding: 0.3rem;
    width: 100%;
}

.footer__text {
    text-align: center;
    font-size: 14px;
}


/*    Tablet       */

@media (max-width: 1024px) {
    .main__grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        gap: 2rem;
    }
}


/*  Celular */

.mobile__menu {
    display: none;
}

@media (max-width: 600px) {
    .mobile__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        overflow-y: scroll;
    }

    .mobile__menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        color: var(--color-text-white);
        font-family: Arial, sans-serif;
    }

    .mobile__menu li {
        padding: 0.5rem;
        margin: 1.5rem;
        min-width: 1rem;
        cursor: pointer;
    }

   .mobile__menu li:hover {
        text-decoration: underline;
    }

    .aside__container {
        display: none;
    }

    .page__grid {
        display: block;
    }

    .main__grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1.5rem;
    }

    .product__card {
        min-width: 15rem;
        margin: auto;
    }
}